.Nav{
width: 100%;
  height: 3vh;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding:1%
}
.Title {
font-family:'Courier New', Courier, monospace;
color:rgb(40, 83, 61);
font-weight: bolder;
font-size: xx-large;
&:hover{color:white};
}


.CartImg{ 
    height: 40px;
    margin-right: 20px;
    
}

.CartIconContainer{
    position: relative;
    cursor: pointer;
}

.CartCount {
    background: rgb(65, 225, 137);
    border-radius: 50%;
    padding: 4px 8px;
    position: absolute;
    right: 10px;
    top: -5px;
    font-size: 12px;
}